@model Passion_Project_Application.Models.CountryDto
@{
    ViewBag.Title = "DeleteConfirm";
}
<div class="back-link"><a href="/Country/List">Cancel</a></div>

<h2>Are you sure you want to delete this Country?</h2>
<p style="color:red">This action cannot be undone</p>
<h2>@Model.CountryName</h2>
<div><span>AirForce Name:</span> @Model.AirforceName</div> 
<div><span>Country Description:</span>@Model.CountryDescription</div>

<form action="/Country/Delete/@Model.CountryID" method="POST">
    <input style="margin:5em 0;" class="btn btn-danger" type="submit" value="Confirm Delete" />
</form>
