@model Passion_Project_Application.Models.CountryDto
@{
    ViewBag.Title = "DeleteConfirm";
}

<h2>DeleteConfirm</h2>

<a href="/Country/List">Cancel</a>
<h2>Are you sure you want to delete this Country?</h2>
<p style="color:red">This action cannot be undone</p>
<h2>@Model.CountryName</h2>
<div><span>AirForce Name:</span> @Model.AirforceName</div> 
<div><span>Country Description:</span>@Model.CountryDescription</div>

<form action="/Country/Delete/@Model.CountryID" method="POST">
    <input type="submit" value="Confirm Delete" />
</form>
