@model IEnumerable<Passion_Project_Application.Models.CountryDto>

@{
    ViewBag.Title = "List";
}


<div class="list-heading">
    <h2>Countries</h2>
</div>
<div class="new-anchor-div">
    <a class="new-anchor" href="/Country/New">New Country</a>
</div>
<div>
    <form method="get" action="/Country/List">
        <input id="search" name="search" type="text" value="" />
        <input class="btn btn-primary" type="submit" value="search" />
    </form>
</div>

@foreach (var country in Model)
{
        <div class="list-head">
        <h3><a href="/Country/Details/@country.CountryID\">@country.CountryName</a></h3>
            </div>
        }
