@model Passion_Project_Application.Models.ViewModels.DetailsAircraft
@{
    ViewBag.Title = "Home Page";
}




<div class="main-div">


    <h1>Welcome to this Amazing world of Fighter Jets</h1>
    <p>A One stop destination to find our all about these technologically advanced machines</p>
    
        <a class="list-link" href="/Aircraft/List">Aircrafts</a>
        <a class="list-link" href="/Manufacturer/List">Manufacturers</a>
        <a class="list-link" href="/Country/List">Countries</a>
    
  </div>





<video autoplay muted loop id="myVideo">
    <source src="~/Content/video/background-video.mp4" />
    Your Browser does not support HTML5 video

</video>
<div class="reference">Video by R L from Pexels</div>